Michał Badura, numer: 407049

In [1]:
import numpy as np
import pandas as pd

#Seting directory of original data
directory = "C:\Program Files\Studia/5 semestr\AiBD\lab1\laboratorium_5\OriginalData/tb.csv"
tb = pd.read_csv(directory)

#Renaming columns
tb.rename(columns={'new_sp_m014': 'm|0-14', 'new_sp_m1524': 'm|15-24', 'new_sp_m2534': 'm|25-34', 'new_sp_m3544': 'm|35-44', 'new_sp_m4554': 'm|45-54', 'new_sp_m5564': 'm|55-64', 'new_sp_m65': 'm|65', 'new_sp_mu': 'm|unknown',
'new_sp_f014': 'f|0-14', 'new_sp_f1524': 'f|15-24', 'new_sp_f2534': 'f|25-34', 'new_sp_f3544': 'f|35-44', 'new_sp_f4554': 'f|45-54', 'new_sp_f5564': 'f|55-64', 'new_sp_f65': 'f|65', 'new_sp_fu': 'f|unknown'}, inplace=True)

#Droping columns with unnecessary data
tb.drop(columns=['new_sp', 'new_sp_m04', 'new_sp_m514', 'new_sp_f04', 'new_sp_f514'], inplace=True)

#Melting

melted = pd.melt(tb, id_vars =['iso2', 'year'], value_vars =tb.columns[2:], value_name = 'Cases', var_name= 'temp')
melted = melted.dropna(subset = ['Cases'])
melted[['sex', 'age']] = melted['temp'].str.split('|', expand=True)
melted.drop(columns=['temp'], inplace=True)
melted = melted.sort_values(by=['iso2', 'year', 'sex', 'age'])
result = melted.reset_index(drop = True)
result.to_csv("C:\Program Files\Studia/5 semestr\AiBD\lab1\laboratorium_5\AnalysisData/tb.csv")
result

      iso2  year  Cases sex      age
0       AD  1996    0.0   f     0-14
1       AD  1996    1.0   f    15-24
2       AD  1996    1.0   f    25-34
3       AD  1996    0.0   f    35-44
4       AD  1996    0.0   f    45-54
...    ...   ...    ...  ..      ...
34155  NaN  2008  757.0   m    35-44
34156  NaN  2008  346.0   m    45-54
34157  NaN  2008  149.0   m    55-64
34158  NaN  2008  132.0   m       65
34159  NaN  2008    0.0   m  unknown

[34160 rows x 5 columns]